<% provide(:title, "TITLE") %>
<% provide(:description, "Description" ) %>
<% provide(:keywords, "keyword1, keyword2")%>

<h1 class="page-header text-center">New Article</h1>

<%= render 'form', article: @article %>

<%= link_to 'Back', articles_path, :class => "btn btn-warning" %>