<% provide(:title, "TITLE") %>
<% provide(:description, "Description" ) %>
<% provide(:keywords, "keyword1, keyword2")%>

<h1 class="page-header text-center">Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user, :class => "btn btn-warning" %> |
<%= link_to 'Back', users_path, :class => "btn btn-info" %>